<div class="container">
  <div class="row">
    <div class="col">
      <h1>Products</h1>
        <table class="table">
          <tr>
            <thead>
              <th>Name</th>
              <th>Price</th>
              <th>Categories</th>
            </thead>
          </tr>
          <tbody>
            <% @products.each do |product| %>
            <tr>
              <td> <%= product.name %> </td>
              <td> <%= product.price %> </td>
              <td> <%= product.categories.map(&:name).join(',') %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>

  </div>

</div>
